
.mypointer{
  cursor:pointer !important;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

.card{
  background-color:floralwhite;
  height:fit-content;
}

.insta{
  color: white;
  background-image:linear-gradient(to bottom,darkviolet, magenta ,deeppink, red, yellow);
}

.facebook{
  background-color:white;
  color: blue;
}

#cursor{
  cursor: pointer;
}

.youtube{
  background-color:white;
  color: red;
}

.linkedin{
  background-color:white;
  color: darkblue;
}

.mybg{
  /* background-color: rgb(197, 8, 197); */
  background-color:mediumvioletred;
  color: white;
}

.hover:hover{
  color: cyan !important;
}

.hover:focus{
  color:cyan !important;
}

.container-body-seller {
  min-height: 555px;
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
}

.container-body-user {
  min-height: 550px;
  align-content: center;
}

.scroll-table {
  max-height: 350px;
}
